name: Build and Deploy Docker Image to AKS

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Gitleaks via Docker
        run: docker run --rm -v "${{ github.workspace }}:/path" zricethezav/gitleaks:latest detect --source=/path --no-git --verbose

      - name: Log in to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/ithaka-frontend:${{ github.sha }} .
        working-directory: testing-app

      - name: Scan image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ secrets.ACR_LOGIN_SERVER }}/ithaka-frontend:${{ github.sha }}
          format: 'table'
          exit-code: '0'
          severity: 'HIGH,CRITICAL'
          ignore-unfixed: true
          vuln-type: 'os,library'
          continue-on-error: true

      - name: Push Docker image
        run: docker push ${{ secrets.ACR_LOGIN_SERVER }}/ithaka-frontend:${{ github.sha }}

      - name: Set up Kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG_CONTENT }}" > ~/.kube/config

      - name: Deploy to AKS
        run: |
          kubectl apply -f namespace.yaml
          kubectl apply -f deployment.yaml
          kubectl apply -f service.yaml
          kubectl apply -f apisixroute.yaml
          kubectl apply -f horizontal-pod-autoscaler.yaml
